[package]
name = "quanta"
version = "0.6.1"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "high-speed timing facility"

homepage = "https://github.com/nuclearfurnace/quanta"
repository = "https://github.com/nuclearfurnace/quanta"
documentation = "https://docs.rs/quanta"

readme = "README.md"

keywords = ["rdtsc", "timing", "nanosecond"]

[package.metadata.docs.rs]
all-features = true

[[bench]]
name = "timing"
harness = false

[features]
metrics = ["metrics-core"]
prost = ["prost-types"]

[dependencies]
once_cell = "^1.4"
raw-cpuid = "^8.1"
metrics-core = { version = "^0.5", optional = true }
prost-types = { version = "^0.6", optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
libc = "^0.2"

[target.'cfg(target_os = "macos")'.dependencies]
mach = "^0.3"

[target.'cfg(target_os = "ios")'.dependencies]
mach = "^0.3"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "^0.3", features = ["profileapi"] }

[dev-dependencies]
average = "^0.10"
criterion = "^0.3"
clocksource = "^0.5"
